<footer>
    <div class="footer-top">
        <div class="footer-top-side">
            <p class="contact-us">Связаться с нами</p>
        </div>
        <div class="footer-top-side">
            <p class="follow-us">Подписаться на рассылку</p>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <ul class="footer-contacts">
                <li class="map-icon">
                    <p>ул Аргуновская, д 18, оф 11</p>
                    <p>Пресненская набережная д. 8, стр 1</p>
                </li>
                <li class="mail-icon"><a href="mailto:a-cube@bk.ru">a-cube@bk.ru</a></li>
                <li class="phone-icon"><a href="tel:8-800-000-00-00">8-800-000-00-00</a></li>
                <li class="skype-icon"><a href="skype:alpha_cube?call">alpha_cube</a></li>
            </ul>
            <ul class="footer-menu">
                <li><a href="#">о КОМПАНИИ</a></li>
                <li><a href="#">Услуги</a></li>
                <li><a href="#">Проекты</a></li>
                <li><a href="#">Портфолио</a></li>
                <li><a href="#">контакты</a></li>
                <li><a href="#">исследования</a></li>
            </ul>
            <ul class="footer-soc">
                <li><a href="#"><i class="fab fa-vk"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            </ul>
        </div>
    </div>
</footer>
