<div class="menu menu-app">
    <div class="menu-top">
        <div class="menu-header">
            <a href="/" class="logo-menu"><img src="../../build/img/logo_gray.png" alt=""></a>
            <div class="btn-menu-close btn-menu-close-app"></div>
        </div>
        <ul class="menu-list">
            <li><a href="#services">Услуги</a></li>
            <li><a href="#example">состав проекта</a></li>
            <li><a href="#works">Наши проекты</a></li>
            <li><a href="#about">о компании</a></li>
            <li><a href="#review">Отзывы</a></li>
        </ul>
    </div>
    <div class="menu-bottom">
        <div class="btn-menu btn-open-callback-form">Заказать звонок</div>
        <a href="tel:8 800 700 42 21" class="phone-menu">8 800 700 42 21</a>
    </div>
</div>
