header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 22px 0;
    background-color: rgba(255, 255, 255, 0.01);
    transition: background-color .3s, padding-top .3s, padding-bottom .3s;
    &.header-scrolled {
        background-color: rgba(73, 78, 84, 0.7);
        padding: 8px 0;
        .ap-nav {
            display: none;
        }
    }
}
.header-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-left-side {
    display: flex;
    align-items: center;
}
.ap-nav {
    display: flex;
    align-items: center;
    font-size: 10px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #ffffff;
    li {
        margin-right: 25px;
        a:hover {
            text-decoration: underline;
        }
    }
}
.btn-header-app {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 32px;
    height: 39px;
    background-color: $red;
    border-radius: 40px;
    transition: all .3s;
    cursor: pointer;
    span {
        font-size: 10px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #ffffff;
    }
    &:hover {
        background: rgba(255, 255, 255, .8);
        span {
            color: $text;
        }
    }
}
