<div class="ap-page">
    <div class="ap-page-bg">
        <div class="first-block-app">
            <div class="first-block-app-cover-desctop" style="background: url('../../build/img/ap1.png'); background-size: cover;"></div>
            <div class="first-block-app-cover-mob" style="background: url('../../build/img/ap1-mob.jpg'); background-size: cover;"></div>
            <div class="grad-block"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-12 breadcrumbs-wrp">
                        <ul class="breadcrumbs">
                            <li><a href="/">Главная</a></li>
                            <li><a href="#">Услуги</a></li>
                            <li>Архитектурное проектирование</li>
                        </ul>
                        <a class="arrow-way" href="#"></a>
                    </div>
                    <div class="col-xl-6 col-12 content-flex">
                        <div class="content-first-app-block">
                            <h1>Индивидуальное проектирование домов</h1>
                            <div class="app-first-block">
                                <p>Учитываем все архитектурные пожелания.</p>
                                <p>Экономим 30% на этапе строительства благодаря тщательной проработке проекта</p>
                            </div>
                            <div class="get-consult-btn"><span>получить консультацию</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="projects" class="second-block-app inner-block-padding-top-ap ">
            <div class="container">
                <h2>Что входит в индивидуальный проект дома?</h2>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="plan-project-block">
                            <img src="../../build/img/proj-1.jpg" alt="">
                            <p class="project-name">Эскизный проект</p>
                            <div class="drops-list-app-wrp">
                                <p class="open-proj-list"><span>Раскрыть список</span></p>
                                <div class="drop-list-block drop-list-block1">
                                    <ul class="drop-list">
                                        <li><span>пояснительная записка;</span></li>
                                        <li><span>поэтажные планы;</span></li>
                                        <li><span>фасад;</span></li>
                                        <li><span>разрезы;</span></li>
                                        <li><span>план кровли;</span></li>
                                        <li><span>визуализация.</span></li>
                                    </ul>
                                    <p class="show-more-list-btn"><span>показать все</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="plan-project-block">
                            <img src="../../build/img/proj-2.jpg" alt="">
                            <p class="project-name">Архитектурные решения</p>
                            <div class="drops-list-app-wrp">
                                <p class="open-proj-list"><span>Раскрыть список</span></p>
                                <div class="drop-list-block drop-list-block1">
                                    <ul class="drop-list">
                                        <li><span>план фундамента, кровли, этажей;</span></li>
                                        <li><span>спецификация элементов;</span></li>
                                        <li><span>экспликация полов;</span></li>
                                        <li><span>фрагменты фасадов;</span></li>
                                        <li><span>узлы и детали;</span></li>
                                    </ul>
                                    <p class="show-more-list-btn"><span>показать все</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="plan-project-block">
                            <img src="../../build/img/proj-3.jpg" alt="">
                            <p class="project-name">Конструктивные решения</p>
                            <div class="drops-list-app-wrp">
                                <p class="open-proj-list"><span>Раскрыть список</span></p>
                                <div class="drop-list-block drop-list-block1">
                                    <ul class="drop-list">
                                        <li><span>план фундамента;</span></li>
                                        <li><span>сечения по фундаменту;</span></li>
                                        <li><span>спецификация материалов фундамента, армирование;</span></li>
                                        <li><span>планы перекрытий с необходимыми сечениями;</span></li>
                                        <li><span>спецификация материалов перекрытий;</span></li>
                                    </ul>
                                    <p class="show-more-list-btn"><span>показать все</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="plan-project-block">
                            <img src="../../build/img/proj-4.jpg" alt="">
                            <p class="project-name">Инженерные сети</p>
                            <div class="drops-list-app-wrp">
                                <p class="open-proj-list"><span>Раскрыть список</span></p>
                                <div class="drop-list-block drop-list-block1">
                                    <ul class="drop-list">
                                        <li><span>электроснабжение и молниезащита</span></li>
                                        <li><span>теплоснабжение</span></li>
                                        <li><span>водоснабжение и канализация</span></li>
                                        <li><span>вентиляционные системы</span></li>
                                        <li><span>кондиционирование</span></li>
                                        <li><span>телекоммуникационные системы</span></li>
                                        <li><span>видеонаблюдение и охрана</span></li>
                                    </ul>
                                    <p class="show-more-list-btn"><span>показать все</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="stages" class="third-block-app inner-block-padding-top-ap">
            <div class="container">
                <h2>Этапы реализации проекта</h2>
                <div class="slider-stages-wrp">
                    <div class="slider-stages-arrows-wrp">
                        <p class="arrow-slider arrow-left slider-stages-arrow-prev"></p>
                        <p class="arrow-slider arrow-right slider-stages-arrow-next"></p>
                        <div class="slider-stages">
                            <div>
                                <div class="stage-slide">
                                    <div class="stage-slide-img">
                                        <img src="../../build/img/stage-1.png" alt="">
                                    </div>
                                    <div class="stage-slide-descr">
                                        <p class="stage-time-mob"><img src="../../build/img/time.png" alt="">2 часа</p>
                                        <p class="stage-slide-title">Первая консультация с архитектором</p>
                                        <p class="stage-slide-text">Составление технического задания на проектирование, уточнение всех Ваших пожеланий.</p>
                                        <p class="stage-time"><img src="../../build/img/time.png" alt="">2 часа</p>
                                        <div class="get-consult-btn"><span>Запись на консультацию</span></div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="stage-slide">
                                    <div class="stage-slide-img">
                                        <img src="../../build/img/stage-3.png" alt="">
                                    </div>
                                    <div class="stage-slide-descr">
                                        <p class="stage-time-mob"><img src="../../build/img/time.png" alt="">1 день</p>
                                        <p class="stage-slide-title">Выезд специалистов на участок</p>
                                        <p class="stage-slide-text">Выезд специалистов на участок. Архитектор выезжает на участок, снимается вертикальная планировка, утверждается расположение дома относительно сторон света.</p>
                                        <p class="stage-time"><img src="../../build/img/time.png" alt="">1 день</p>
                                        <div class="get-consult-btn"><span>Запись на консультацию</span></div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="stage-slide">
                                    <div class="stage-slide-img">
                                        <img src="../../build/img/stage-2.png" alt="">
                                    </div>
                                    <div class="stage-slide-descr">
                                        <p class="stage-time-mob"><img src="../../build/img/time.png" alt="">2-3 недели</p>
                                        <p class="stage-slide-title">Разработка архитектурно-строительных решений и сетей инженерного обеспечения</p>
                                        <p class="stage-slide-text">Все работы по проектированию дома согласовываются с Заказчиком до полного утверждения.</p>
                                        <p class="stage-time"><img src="../../build/img/time.png" alt="">2-3 недели</p>
                                        <div class="get-consult-btn"><span>Запись на консультацию</span></div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="stage-slide">
                                    <div class="stage-slide-img">
                                        <img src="../../build/img/stage-4.png" alt="">
                                    </div>
                                    <div class="stage-slide-descr">
                                        <p class="stage-time-mob"><img src="../../build/img/time.png" alt="">1 неделя</p>
                                        <p class="stage-slide-title">Согласование и сдача проекта Заказчику</p>
                                        <p class="stage-slide-text">Внесение последний корректировок, подбор оборудование и просчет материалов.</p>
                                        <p class="stage-time"><img src="../../build/img/time.png" alt="">1 неделя</p>
                                        <div class="get-consult-btn"><span>Запись на консультацию</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fourth-block-app inner-block-padding-top-ap">
            <div class="container">
                <h2>Пример готового проекта</h2>
                <div class="fourth-block-app-content">
                    <div class="row">
                        <div class="col-xl-6 col-12 pdr-1">
                            <a href="../../build/img/4app.jpg" download="123.jpg" class="btn-load btn-load-mob"><span>скачайте образец  проекта</span></a>
                            <div class="fourth-block-app-img-wrp">
                                <img src="../../build/img/4app.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-xl-6 col-12">
                            <div class="fourth-block-app-descr">
                                <p>Вы можете оценить состав и качество проекта дома на примере того, который мы уже разработали для одного из наших клиентов. </p>
                                <p>Проект был успешно согласован и по нему уже строится дом. Чертежи включают в себя все строительные конструкции от фундамента до кровли и спецификации строительных материалов с подробным расчетом их объемов.</p>
                                <p class="what-contents">Из чего состоит?</p>
                                <div class="fourth-block-links-wrp">
                                    <div class="drops-list-app-wrp">
                                        <p class="fourth-block-link">Архитектурное решение</p>
                                        <div class="drop-list-block drop-list-block2">
                                            <ul class="drop-list">
                                                <li><span>пояснительная записка;</span></li>
                                                <li><span>поэтажные планы;</span></li>
                                                <li><span>фасад;</span></li>
                                                <li><span>разрезы;</span></li>
                                                <li><span>план кровли;</span></li>
                                                <li><span>визуализация.</span></li>
                                            </ul>
                                            <p class="show-more-list-btn"><span>показать все</span></p>
                                        </div>
                                    </div>
                                    <div class="drops-list-app-wrp">
                                        <p class="fourth-block-link">Конструктивное решение</p>
                                        <div class="drop-list-block drop-list-block2">
                                            <ul class="drop-list">
                                                <li><span>пояснительная записка;</span></li>
                                                <li><span>поэтажные планы;</span></li>
                                                <li><span>фасад;</span></li>
                                                <li><span>разрезы;</span></li>
                                                <li><span>план кровли;</span></li>
                                                <li><span>визуализация.</span></li>
                                            </ul>
                                            <p class="show-more-list-btn"><span>показать все</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="../../build/img/4app.jpg" download="123.jpg" class="btn-load btn-load-desc"><span>скачайте образец  проекта</span></a>
            </div>
        </div>
        <div class="fifth-block-app inner-block-padding-top-ap">
            <div class="container">
                <h2>Заказать звонок</h2>
                <form class=""  method="post">
                    <div class="fifth-block-app-content">
                        <div class="cool-input">
                            <input type="text" class="cool-input__input" required/>
                            <span class="cool-input__placeholder">Имя</span>
                        </div>
                        <div class="cool-input">
                            <input type="tel" class="cool-input__input input-phone" required/>
                            <span class="cool-input__placeholder">Телефон</span>
                        </div>
                    </div>
                    <input type="submit" class="btn-send" value="Отправить">
                </form>
            </div>
        </div>
        <div id="cost" class="sixth-block-app inner-block-padding-top-ap">
            <div class="container">
                <h2>Сколько стоит проект дома и за что вы платите?</h2>
                <form action="">
                    <div class="row">
                        <div class="col-xl-7 col-12">
                            <div class="sixth-block-app-text">
                                <p>Над Вашим проектом работает команда специалистов и собирает дом, как единый цикличный организм. Каждый раздел взаимосвязан между собой и проработан с присущей педантичностью, так чтобы Вы чувствовали комфорт и безопасность. Стоимость и сроки реализации проекта напрямую зависят от сложности реализуемого проекта. </p>
                            </div>
                            <div class="sixth-block-app-content-left">
                                <p class="general-square">
                                    <span>Общая площадь дома</span>
                                    <input class="input-number" type="tel" name="" value="">
                                    <span>кв.м.</span>
                                </p>
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <label class="checkbox">
                                            <input class="checkbox-input" type="radio" checked="" name="radio1">
                                            <div class="checkbox__text">
                                                <span>Эскизный проект 170 руб/кв.м.</span>
                                            </div>
                                        </label>
                                        <label class="checkbox">
                                            <input class="checkbox-input" type="radio" name="radio1">
                                            <div class="checkbox__text">
                                                <span>Архитектурные  решения 370 руб/кв.м. (в стоимость входит эскизный проект)</span>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <label class="checkbox">
                                            <input class="checkbox-input" type="radio" name="radio1">
                                            <div class="checkbox__text">
                                                <span>Инженерные сети 470 руб/кв.м.</span>
                                            </div>
                                        </label>
                                        <label class="checkbox">
                                            <input class="checkbox-input" type="radio" name="radio1">
                                            <div class="checkbox__text">
                                                <span>Конструктивные решения 350 руб/кв.м.</span>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-12 pl-60">
                            <div class="form-cost">
                                <div class="cool-input-wrp">
                                    <div class="cool-input">
                                        <input type="text" class="cool-input__input" required/>
                                        <span class="cool-input__placeholder">Имя</span>
                                    </div>
                                    <div class="cool-input">
                                        <input type="tel" class="cool-input__input input-phone" required/>
                                        <span class="cool-input__placeholder">Телефон</span>
                                    </div>
                                </div>
                                <input type="submit" class="btn-send-info" value="Отправить">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="parallax-section">
        <div class="parallax-block" data-parallax="scroll" data-image-src="../../build/img/prlx.jpg"></div>
        <div class="parallax-content">
            <div id="works" class="seventhth-block-app inner-block-padding-top-ap">
                <div class="container p0">
                    <h2>Посмотрите построенные нами дома</h2>
                    <div class="slider-works-wrp">
                        <div class="slider-arrows-works-wrp">
                            <p class="arrow-slider arrow-left slider-works-arrow-prev"></p>
                            <p class="arrow-slider arrow-right slider-works-arrow-next"></p>
                            <div class="slider-works">
                                <div>
                                    <div class="slide-work">
                                        <div class="slide-work-block slide-work-info-block">
                                            <p class="slide-work-title">Rapsodia</p>
                                            <div class="square-status-wrp">
                                                <div class="square-status-block">
                                                    <div class="square-status-block-img">
                                                        <img src="../../build/img/icon_cube.svg" alt="">
                                                    </div>
                                                    <div class="square-status-block-text">
                                                        <p>Площадь:</p>
                                                        <p>533,1 кв. м.</p>
                                                    </div>
                                                </div>
                                                <div class="square-status-block">
                                                    <div class="square-status-block-img">
                                                        <img src="../../build/img/icon_info.png" alt="">
                                                    </div>
                                                    <div class="square-status-block-text">
                                                        <p>Статус</p>
                                                        <p>Сдан</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="show-video" data-fancybox href="https://alfa-cube.ru/img/portfolio/portfolio-buildings/house12Polesie/vid.mp4"><span>Cмотреть видео</span></a>
                                            <div class="flex-column-mob">
                                                <a href="#" class="details-btn">Подробнее</a>
                                                <div class="slide-work-text">
                                                    <p>Графичный облик основного фасада, большие окна дома «Альфа Куб» на сложном рельефе – свидетельство его принадлежности к стилю прерий.</p>
                                                    <p>Главной особенностью проекта являются большие панорамные окна в пол. Дополнительные акценты создаются за счет активного использования декоративного кирпича в облицовке высокого цоколя, основного фасада, в опорах обходной террасы склона.</p>
                                                    <p>Открытые солнцу гостиная совмещенная с кухней, образующая второй свет - позволяют проводить больше времени в окружении природы и в то же время защищают от осадков. Мелкая расстекловка окон эффектно смотрится как снаружи, так и внутри, особенно в двусветной гостиной.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slide-work-block slide-work-img-block">
                                            <p class="slider-work-title-mob">Rapsodia</p>
                                            <div class="main-photo-wrp">
                                                <img src="../../build/img/photo1.jpg" alt="">
                                                <div class="main-photo-hover">
                                                    <div class="main-photo-hover-content">
                                                        <div class="main-photo-hover-content-block">
                                                            <p class="hover-left-text">3 этажа, </p>
                                                            <p class="hover-title">Rapsodia</p>
                                                            <div class="open-gallery-btn"></div>
                                                        </div>
                                                        <div class="main-photo-hover-content-block">
                                                            <p class="hover-right-text">405 м<sup>2</sup></p>
                                                            <div class="all-about-this-project-btn">Все о проекте</div>
                                                        </div>
                                                    </div>
                                                    <div class="gallery-hover-wrp">
                                                        <a href="../../build/img/gallery/a1.jpg" data-fancybox="a1"></a>
                                                        <a href="../../build/img/gallery/a2.jpg" data-fancybox="a1"></a>
                                                        <a href="../../build/img/gallery/a3.jpg" data-fancybox="a1"></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="plans-wrp">
                                                <div class="plan-block">
                                                    <p class="plan-block-title">План 1 этаж</p>
                                                    <div class="plan-img-wrp">
                                                        <img src="../../build/img/plan1.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="plan-block">
                                                    <p class="plan-block-title">План 2 этаж</p>
                                                    <div class="plan-img-wrp">
                                                        <img src="../../build/img/plan2.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="slide-work">
                                        <div class="slide-work-block slide-work-info-block">
                                            <p class="slide-work-title">Polesie</p>
                                            <div class="square-status-wrp">
                                                <div class="square-status-block">
                                                    <div class="square-status-block-img">
                                                        <img src="../../build/img/icon_cube.svg" alt="">
                                                    </div>
                                                    <div class="square-status-block-text">
                                                        <p>Площадь:</p>
                                                        <p>267 кв. м.</p>
                                                    </div>
                                                </div>
                                                <div class="square-status-block">
                                                    <div class="square-status-block-img">
                                                        <img src="../../build/img/icon_info.png" alt="">
                                                    </div>
                                                    <div class="square-status-block-text">
                                                        <p>Статус</p>
                                                        <p>Сдан</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="show-video" data-fancybox href="https://alfa-cube.ru/img/portfolio/portfolio-buildings/house12Polesie/vid.mp4">Cмотреть видео</a>
                                            <div class="flex-column-mob">
                                                <a href="#" class="details-btn">Подробнее</a>
                                                <div class="slide-work-text">
                                                    <p>Графичный облик основного фасада, большие окна дома «Альфа Куб» на сложном рельефе – свидетельство его принадлежности к стилю прерий.</p>
                                                    <p>Главной особенностью проекта являются большие панорамные окна в пол.</p>
                                                    <p>Открытые солнцу гостиная совмещенная с кухней, образующая второй свет - позволяют проводить больше времени в окружении природы и в то же время защищают от осадков. Мелкая расстекловка окон эффектно смотрится как снаружи, так и внутри, особенно в двусветной гостиной.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slide-work-block slide-work-img-block">
                                            <p class="slider-work-title-mob">Polesie</p>
                                            <div class="main-photo-wrp">
                                                <img src="../../build/img/gallery/b1.jpg" alt="">
                                                <div class="main-photo-hover">
                                                    <div class="main-photo-hover-content">
                                                        <div class="main-photo-hover-content-block">
                                                            <p class="hover-left-text">3 этажа, </p>
                                                            <p class="hover-title">Polesie</p>
                                                            <div class="open-gallery-btn"></div>
                                                        </div>
                                                        <div class="main-photo-hover-content-block">
                                                            <p class="hover-right-text">267 м<sup>2</sup></p>
                                                            <div class="all-about-this-project-btn">Все о проекте</div>
                                                        </div>
                                                    </div>
                                                    <div class="gallery-hover-wrp">
                                                        <a href="../../build/img/gallery/b2.jpg" data-fancybox="b1"></a>
                                                        <a href="../../build/img/gallery/b3.jpg" data-fancybox="b1"></a>
                                                        <a href="../../build/img/gallery/b4.jpg" data-fancybox="b1"></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="plans-wrp">
                                                <div class="plan-block">
                                                    <p class="plan-block-title">План 1 этаж</p>
                                                    <div class="plan-img-wrp">
                                                        <img src="../../build/img/plan11.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="plan-block">
                                                    <p class="plan-block-title">План 2 этаж</p>
                                                    <div class="plan-img-wrp">
                                                        <img src="../../build/img/plan12.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="all-projects-wrp"><a href="#" class="all-projects-btn">Все проекты</a></div>
                </div>

            </div>
            <div id="review" class="eightth-block-app inner-block-padding-top-ap">
                <div class="container">
                    <h2>Отзывы наших клиентов</h2>
                    <div class="review-slider-wrp">
                        <div class="slider-arrows-works-wrp">
                            <p class="arrow-slider arrow-left slider-review-arrow-prev"></p>
                            <p class="arrow-slider arrow-right slider-review-arrow-next"></p>
                            <div class="review-slider">
                                <div>
                                    <div class="review-slide">
                                        <div class="review-slide-bg" style="background: url('../../build/img/rev1.png') center no-repeat; background-size: cover;"></div>
                                        <div class="review-slide-content">
                                            <div class="review-top-block">
                                                <div class="review-img-wrp">
                                                    <img src="../../build/img/persone1.jpg" alt="">
                                                </div>
                                                <div class="review-top-text">
                                                    <p class="review-name">Валерий Жуков</p>
                                                    <p class="review-work">Солист группы «Жуки»</p>
                                                </div>
                                            </div>
                                            <div class="review-bottom-block">
                                                <p>В 2014 году специалистами компании ООО «АЛЬФА КУБ»  был разработан и реализован проект по ландшафтному дизайну для семьи Валерия Жукова г. Москва</p>
                                                <p>«Мы с супругой искали компанию, которая смогла разработать концепцию участка с большой зоной отдыха и местом для прогулок, где было бы комфортно всем членам семьи. Специалисты ООО «АЛЬФА КУБ»  разработали для нас проект, который устроил всех. Спасибо им за работу, результат радует нас каждый день»</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="review-slide">
                                        <div class="review-slide-bg" style="background: url('../../build/img/rev2.jpg') center no-repeat; background-size: cover;"></div>
                                        <div class="review-slide-content">
                                            <div class="review-top-block">
                                                <div class="review-img-wrp">
                                                    <img src="../../build/img/persone2.jpg" alt="">
                                                </div>
                                                <div class="review-top-text">
                                                    <p class="review-name">Владимир Дерябкин</p>
                                                    <p class="review-work">Актер и клоун одного из старейших цирков России</p>
                                                </div>
                                            </div>
                                            <div class="review-bottom-block">
                                                <p>В 2015 году специалисты компании ООО «АЛЬФА КУБ»  сотрудничали в области ландшафтного проектирования с Владимиром Дерябкиным- человек имеющий мировое имя, клоун московского цирка Юрия Никулина.</p>
                                                <p>«Хотел бы поблагодарить компанию  АЛЬФА КУБ за оперативную и качественную работу, обратились к ним по совету знакомых и не были разочарованны»</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="review-slide">
                                        <div class="review-slide-bg" style="background: url('../../build/img/rev3.png') center no-repeat; background-size: cover;"></div>
                                        <div class="review-slide-content">
                                            <div class="review-top-block">
                                                <div class="review-img-wrp">
                                                    <img src="../../build/img/persone3.jpg" alt="">
                                                </div>
                                                <div class="review-top-text">
                                                    <p class="review-name">Фили́пп Бедро́сович Кирко́ров</p>
                                                    <p class="review-work">Советский и российский эстрадный певец, актёр, композитор и продюсер. Народный артист Российской Федерации, Народный артист Украины, Народный артист Молдавии.</p>
                                                </div>
                                            </div>
                                            <div class="review-bottom-block">
                                                <p>В 2014 году был разработан и реализован специалистами компании ООО «АЛЬФА КУБ»  проект по ландшафтному дизайну для семьи Филиппа Киркорова. Объект был реализован под ключ в максимально короткие сроки.</p>
                                                <p>«Благодарю компанию  АЛЬФА КУБ за оперативную и качественную работу, обратились к ним по совету знакомых и не был разочарован»</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="review-slide">
                                        <div class="review-slide-bg" style="background: url('../../build/img/rev4.jpg') center no-repeat; background-size: cover;"></div>
                                        <div class="review-slide-content">
                                            <div class="review-top-block">
                                                <div class="review-img-wrp">
                                                    <img src="../../build/img/persone4.jpg" alt="">
                                                </div>
                                                <div class="review-top-text">
                                                    <p class="review-name">Василий Тимченко </p>
                                                    <p class="review-work">Лучший и единственный дрессировщик уникальных морских животных – северных морских львов (сивучей) </p>
                                                </div>
                                            </div>
                                            <div class="review-bottom-block">
                                                <p>В 2015 году был разработан и реализован специалистами компании ООО «АЛЬФА КУБ»  проект загородного комплекса для дрессировщика уникальных морских животных Василия Тимченко.</p>
                                                <p>«Впечатления самые положительные. Могу сказать, что всё было сделано в оговоренные сроки. Все обязательства, которые брались, все выполнялись. Перед тем как приступить к работам- мы уже имели четкое представление, как и о конструктивной – так и о дизайнерской стороне проекта.»</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="review-slide">
                                        <div class="review-slide-bg" style="background: url('../../build/img/rev5.jpg') center no-repeat; background-size: cover;"></div>
                                        <div class="review-slide-content">
                                            <div class="review-top-block">
                                                <div class="review-img-wrp">
                                                    <img src="../../build/img/persone5.jpg" alt="">
                                                </div>
                                                <div class="review-top-text">
                                                    <p class="review-name">Алексей Кузин</p>
                                                    <p class="review-work">Генеральный директор холдинга «Ультра Фиш» Алексей Кузин</p>
                                                </div>
                                            </div>
                                            <div class="review-bottom-block">
                                                <p>В 2017 году был разработан и реализован специалистами компании ООО «АЛЬФА КУБ»  проект для генерального директора холдинга «Ультра Фиш». Проект состоял из планировочного решения и реализации загородной резиденции на территории Московской области.</p>
                                                <p>«Выражаю свою благодарность компании  АЛЬФА КУБ за качественную и оперативную работу, обратились к ним по совету знакомых и не были разочарованны. Остановили свой выбор на данной компании, так как интересовало выполнение работ полным комплексом одним подрядчиком.»</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="all-projects-wrp"><a href="#" class="all-projects-btn">Все клиенты</a></div>
                </div>
            </div>
            <div class="nineth-block-app inner-block-padding-top-ap">
                <div class="container">
                    <h2>Остались вопросы?</h2>
                    <div class="question">
                        <p>Мы готовы ответить на вопросы по вашему проекту.</p>
                        <p>Оставьте свои контакты и наши специалисты свяжутся с вами в течение 15 минут.</p>
                    </div>
                    <form action="">
                        <div class="fifth-block-app-content">
                            <div class="cool-input">
                                <input type="text" class="cool-input__input" required/>
                                <span class="cool-input__placeholder">Имя</span>
                            </div>
                            <div class="cool-input">
                                <input type="tel" class="cool-input__input input-phone" required/>
                                <span class="cool-input__placeholder">Телефон</span>
                            </div>
                        </div>
                        <input type="submit" class="btn-send" value="Отправить">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
