<div class="callback-form">
    <div class="callback-form-content">
        <div class="btn-menu-close btn-close-callback-form"></div>
        <h2>Связаться с нами</h2>
        <p class="cb-text">Оставьте ваши контакты и мы сами свяжемся с вами</p>
        <form class=""  method="post">
            <div class="cool-input">
                <input type="text" class="cool-input__input" required/>
                <span class="cool-input__placeholder">Имя</span>
            </div>
            <div class="cool-input">
                <input type="tel" class="cool-input__input input-phone" required/>
                <span class="cool-input__placeholder">Телефон</span>
            </div>
            <div class="cool-input">
                <textarea name="name" class="cool-input__input"></textarea>
                <span class="cool-input__placeholder">сообщение</span>
            </div>
            <input type="submit" class="btn-send call-thnx" value="задать вопрос">
        </form>
    </div>
</div>
<div class="thnx-block">
    <img src="../../build/img/done.png" alt="">
    <p>Спасибо! <br>Ваша заявка отправлена</p>
    <div class="ok-btn">ok</div>
</div>
