// mixin for counting
@mixin calc-width($property, $value) {
    #{$property}: calc(#{$value} * 100vw / 1366);
}
@mixin calc-height($property, $value) {
    #{$property}: calc(#{$value} * 100vh / 969);
}
@mixin calc-heightMob($property, $value) {
    #{$property}: calc(#{$value} * 100vh / 497);
}



$bg: #E3EBEA;
$red: #AF212E;
$text: #494E54;
