<header class="">
    <div class="container">
        <div class="header-content">
            <a href="/" class="logo"><img src="../../build/img/logo_white.png" alt=""></a>
            <div class="header-left-side">
                <ul class="ap-nav">
                    <li><a class="scrollTo" href="#services">Услуги</a></li>
                    <li><a class="scrollTo" href="#example">состав проекта</a></li>
                    <li><a class="scrollTo" href="#works">Наши проекты</a></li>
                    <li><a class="scrollTo" href="#about">о компании</a></li>
                    <li><a class="scrollTo" href="#review">Отзывы</a></li>
                </ul>
                <div class="btn-header-app btn-open-callback-form"><span>Задать вопрос</span></div>
            </div>
        </div>
        <div class="header-content-mob">
            <a href="/" class="logo"><img src="../../build/img/logo_white.png" alt=""></a>
            <div class="header-mob-side">
                <a href="tel:"><img src="../../build/img/phone-mob.png" alt=""></a>
                <div class="burger burger-open-menu-app">
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</header>
